/* https://meyerweb.com/eric/tools/css/reset/ 이 사이트의 reset 설정을 조금 수정했습니다 */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline-style: none;
}

ol,
ul {
  list-style: none;
}

/* 배경이 될 map 영역 만들기 */

#map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}
/* Filter */
.wrapFilter {
  opacity: 0.7;
  position: relative;
  background-color: rgb(102, 123, 101);
  z-index: 1;
}
.top {
  width: 100%;
  height: 23.5vh;
}
.left {
  width: 20vw;
  height: 500px;
}
.right {
  width: 40vw;
  height: 500px;
}
.bottom {
  width: 100vw;
  height: 23.5vh;
}
#center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 검색 기능 */
#mapSearch {
  height: 500px;
  padding: 50px;
}
h1 {
  color: black;
}
h1 p {
  display: inline;
  font-size: 2em;
  color: rgb(255, 232, 18);
}
h2 {
  padding-bottom: 15px;
}
#eventText {
  width: 200px;
  border: none;
  border-bottom: 3px solid black;
  background-color: rgb(102, 123, 101);
  margin-bottom: 15px;
  line-height: 32px;
}
#submit {
  width: 32px;
  height: 32px;
  background: url("./search.png") no-repeat center / cover;
}
#weather {
  margin-top: 100px;
  width: auto;
  height: 32px;
  border: none;
  letter-spacing: 1px;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

#weather a {
  font-size: x-large;
  color: black;
  text-decoration: none;
}
